<div class="alert alert-info" role="alert" id="alert-info" style="display:none">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <span class="content"></span>
</div>
